**/.DS_Store
**/Thumbs.db

# env
.env

# Python
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/

# Node / frontend
**/node_modules/
**/dist/
**/.vite/

# IDE
**/.vscode/
**/.idea/

